

@{
    ViewBag.Title = "Delete";
}

@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h2>Вы уверены, что хотите удалить этот аккаунт?</h2>
        <br>
        <br>
        <input type="submit" value="Удалить" class="btn btn-default" />
        <br>
        <br>
        <div>
            @Html.ActionLink("Вернуться назад", "GetUsers")
        </div>
    </div>

</div>*@

<form method="post">
    <h2>Вы уверены, что хотите удалить этот аккаунт?</h2>
    <button type="submit">Удалить</button>
    <br>
    <br>
    <a href="/Home/AdminPage">Вернуться назад</a>
</form>